body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: palevioletred;
  }
  
  h1 {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    
    grid-gap: 5px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
  }
  .cell:hover{
    background-color: yellow;
    cursor:pointer;
  }
  
  #status {
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 2em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: red;
  }
  
  